<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:text="#{user.report.data.title}">Reports view</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
</head>

<body>

<div>
    <div align="right">
        <a th:href="@{/user/user-info}">
            <span sec:authentication="name">Username</span>
        </a>
    </div>
    <div align="left">
        <a th:href="@{/user/reports}">
            <input type="submit" class="main-input" value="Return to main page"/>
        </a>
    </div>
</div>
<div class="main-background">
    <div class="display: inline-block">

        <a th:href="@{/user/report-edit/{id}(id=${report.id})}">
            <input type="submit" value="Edit" class="main-input"/>
        </a>

        <a style="text-decoration: none" th:href="@{/user/report-delete/{id}(id=${report.id})}">
            <input type="button" value="Delete" class="main-input"/>
        </a>

    </div>
    <table>
        <tbody>
        <tr>
            <td><p>Income</p></td>
            <td><span th:text="${report.income}">Income</span></td>
        </tr>
        <tr>
            <td><p>Tax rate</p></td>
            <td><span th:text="${report.taxRate}">Tax rate</span></td>
        </tr>
        <tr>
            <td><p>Period</p></td>
            <td><span th:text="${report.taxPeriod}">Tax period</span></td>
        </tr>
        <tr>
            <td><p>Year</p></td>
            <td><span th:text="${report.year}">Year</span></td>
        </tr>
        <tr>
            <td><p>Report date</p></td>
            <td><span th:text="${report.reportDate}">Report date</span></td>
        </tr>
        <tr>
            <td><p>Status</p></td>
            <td><span th:text="${report.status.getStatusName()}">Status</span></td>
        </tr>
        <tr>
            <td><p>Comment</p></td>
            <td><span th:text="${report.comment}">Comment</span></td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>