<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .main {
            width: 500px;
            height: 600px;
            background: lightskyblue;
            padding: 10px 20px 10px 10px;
            border: #ffffff;
            float: outside;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    </style>
</head>
<body>
<div align="right">
    <span sec:authentication="name">Username</span>
<!--    <span th:text="${#authentication.getName()}"></span>-->
    <form method="POST" th:action="@{/logout}">
        <input type="submit" value="Logout"/>
    </form>
</div>

<div align="center">
    <a th:href="@{/user/report-form}"><input type="button" value="Add report"/></a>
    <div class="main">
<!--        <span th:text="${reportList}"></span>-->
    </div>
</div>
</body>
</html>

<!--ToDo: user-page: -->
<!--ToDo: 1) show all reports + sort choice and find-->
<!--ToDo: 2) every report has link to page with info and functions (delete, edit, push)-->
<!--ToDo: add localization-->
