<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title data-th-text="#{login.login}">Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
</head>
<body class="h-100">
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->

<!--&lt;!&ndash;    <div class="navbar-nav ml-auto">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-group row">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-5">&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{?lang=en}" th:text="#{lang.en}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="col-md-5">&ndash;&gt;-->
<!--&lt;!&ndash;                <a th:href="@{?lang=ua}" th:text="#{lang.ua}"></a>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--</nav>-->
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <div class="container alert alert-primary">
                <form class="form-example" name="f" th:action="@{/login}" th:method="POST">
                    <div style="text-align: center">
                        <h1 th:text="#{main.login}">Login</h1>
                    </div>
                    <div class="form-group">
                        <label for="email" data-th-text="#{data.input.email}">Email:</label>
                        <input type="text" class="form-control" id="email"
                               th:placeholder="#{data.input.email}" name="email">
                    </div>
                    <div class="form-group">
                        <label for="password" data-th-text="#{data.input.password}">Password:</label>
                        <input type="password" class="form-control" id="password" name="password"
                               th:placeholder="#{data.input.password}">
                    </div>
                    <div class="col text-center">
                        <button type="submit" style="width: 140px"
                                class="btn btn-primary btn-lg" data-th-text="#{login.login}">Login
                        </button>
                    </div>

                </form>
                <a th:href="@{/registration}" data-th-text="#{login.notRegistered}">Does not registered?</a>
                <div th:if="${param.error}" class="alert alert-error">
                    <div class="alert alert-danger" role="alert">
                        <div style="text-align: center" class="error-invalid" data-th-text="#{login.wrong.input}">
                            Invalid email or password!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>