<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .block1 {
            width: 300px;
            height: 300px;
            background: lightskyblue;
            padding: 10px;
            padding-right: 20px;
            border: #ffffff;
            float: outside;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="block1">
    <form name="login" method="POST">

        <fieldset>
            <legend>Login</legend>
            <div>
                <br/>
                <label for="email">Email</label>
                <input type="text" placeholder="Email" id="email" name="email"  required>
            </div>

            <div>
                <br/>
                <label for="password">Password</label>
                <input type="password" placeholder="Password" id="password" name="password" required/>
            </div>

            <div>
                <br/>
                <button type="submit">Log in</button>
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>