<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.main}">Tax Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="form-group row">
        <div class="col-md-5">
            <form style="display: inline;" action="#" th:action="@{/login}" th:method="GET">
                <button type="submit" class="btn btn-primary" data-th-text="#{main.login}">Login</button>
            </form>
        </div>
        <div class="col-md-5">
            <form style="display: inline;" action="#" th:action="@{/registration}" th:method="GET">
                <button type="submit" class="btn btn-primary" data-th-text="#{main.registration}">Registration</button>
            </form>
        </div>
    </div>

    <div class="navbar-nav ml-auto">
        <div class="form-group row">
            <div class="col-md-5">
                <a th:href="@{?lang=en}" th:text="#{lang.en}"></a>
            </div>
            <div class="col-md-5">
                <a th:href="@{?lang=ua}" th:text="#{lang.ua}"></a>
            </div>
        </div>
    </div>
</nav>
<div>
    <b th:text="#{main.greeting} + ' '+ ${role}"></b>
<!--    <b data-th-text="${role}"></b>-->
</div>
</body>
</html>
