<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<!--ToDo: errors answer + upgrade view-->
<form th:action="@{/registration}" th:object="${user}" method="post">

    <label>First name:</label>
    <div><input type="text" th:field="*{firstName}" required/></div>

    <label>Last name:</label>
    <div><input type="text" th:field="*{lastName}" required/></div>

    <label>Password:</label>
    <div><input type="password" th:field="*{password}" required/></div>

    <label>Email:</label>
    <div><input type="email" th:field="*{email}" required/></div>

    <label>Age:</label>
    <div><input type="text" th:field="*{age}" required/></div>

    <label>IPN:</label>
    <div><input type="text" th:field="*{ipn}" required/></div>

    <div>
        <input type="submit" name="Register">
    </div>
</form>

</body>
</html>