<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .block1 {
            width: 300px;
            height: 300px;
            background: lightskyblue;
            padding: 10px;
            padding-right: 20px;
            border: #ffffff;
            float: outside;
            border-radius: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
<div class="block1">
    <form role="form" th:action="/signin" th:object="user" th:method="post">
        <fieldset>
            <legend>Login</legend>
            <div>
                <br/>
                <label for="username">Username</label>
                <input type="text" th:field = "*{username}" id ="username">
            </div>

            <div>
                <br/>
                <label for="password">Password</label>
                <input type= "password" th:field = "*{password}" id ="password">
            </div>

            <div>
                <br/>
                <input type="submit">
            </div>

        </fieldset>
    </form>
</div>
</body>
</html>